@font-face {
  font-family: "KaushanScript-400";
  src: url("../fonts/KaushanScript-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-700";
  src: url("../fonts/Montserrat-Bold.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-900";
  src: url("../fonts/Raleway-Black-900.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-700";
  src: url("../fonts/Raleway-Bold-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-600";
  src: url("../fonts/Raleway-SemiBold-600.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-500";
  src: url("../fonts/Raleway-MediumItalic-500.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-400";
  src: url("../fonts/Raleway-Regular-400.woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*==========header==========*/

.header__wrap {
  position: relative;
}

.header__content {
  display: flex;
  padding: 1rem;

  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header__logo img {
  max-width: 100px;
  width: 6rem;
  height: auto;
}
.header__logo img:hover {
  filter: invert(38%) sepia(2%) saturate(4099%) hue-rotate(355deg)
    brightness(136%) contrast(79%);
}

.header__menu {
  display: flex;
  justify-content: flex-end;
}

/*==========nav==========*/

.nav ul {
  flex: 1;
}

.nav__link {
  cursor: pointer;
  padding: 1rem;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  font-family: "Raleway-600", serif;
  font-size: 0.875rem;
  transition: all 0.3s ease;
}

.nav__link:not(:last-child) {
  margin-right: 0.5rem;
}

.nav__link:hover {
  color: #e4be8d;
}

.nav__link::after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 2px;
  background-color: #e4be8d;
  transition: all 0.3s ease;
}

.nav__link:hover::after {
  opacity: 1;
}

.menu__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__icon__img {
  width: 24px;
  height: auto;
}

.menu__icon__img:hover {
  filter: invert(38%) sepia(2%) saturate(4099%) hue-rotate(355deg)
    brightness(136%) contrast(79%);
}

.menu__icon__btn {
  margin: 0 15px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/*==========section1==========*/
.mogo {
  background: linear-gradient(to top, #edd789e6, #e98283e6),
    url("../img/jpg/mogo/banner-bg.jpg") center no-repeat;
  background-size: cover;
}

.mogo__text {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mogo__suptitle {
  padding-top: 11rem;
  text-align: center;
  text-transform: capitalize;
  font-family: "KaushanScript-400", serif;
  font-size: 4rem;
  line-height: 1;
  color: #fff;
}

.mogo__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat-700", serif;
  font-size: 9rem;
  line-height: 1.2;
  color: #fff;
}

.mogo__title:after {
  content: "";
  display: block;
  width: 25%;
  height: 3px;
  margin: 30px auto;

  background-color: #fff;
}

.mogo__btn {
  margin: 7rem auto;
  display: inline-block;
  vertical-align: top;
  padding: 1.2rem 6rem;
  border: 3px solid #fff;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  font-family: "Raleway-700", serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.1s linear, color 0.1s linear;
}

.mogo__btn:hover {
  background-color: #fff;
  color: #e4be8d;
}

.mogo__btn:active {
  background-color: #fff;
  color: #e4be8d;
  border-color: #e4be8d;
}

.slider {
  margin-top: 7rem;
}

.slider__content {
  display: flex;
  justify-content: space-between;
}

.slider__box {
  position: relative;
  cursor: pointer;
  flex: 1;
  padding: 1.5rem 0;

  color: #f9efcf;
  text-transform: uppercase;
  border-top: 3px solid #f9efcf;
}

.slider__box:not(:last-child) {
  margin-right: 2rem;
}

.slider__box:hover {
  color: #fff;
  transition: all 0.3s ease;
}

.slider__box:hover:after {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 10;
  display: block;
  width: 30%;
  height: 3px;
  background: #f38281;
}

.slider__text {
  padding: 15px 0;
  font-family: "Raleway-500", serif;
  font-size: 1.125rem;
}

.slider__num {
  font-family: "Raleway-700", serif;
  font-size: 2.25rem;
}

.slider__text:hover,
.slider__num:hover {
  color: #fff;
}

/*==========all sections==========*/

.section {
  padding: 1rem 0;
}
.section__content {
  margin: 1rem auto 5rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #2d3033;
}

.section__suptitle {
  flex: 1;
  padding: 1rem 0;
  text-align: center;
  font-family: "KaushanScript-400", cursive;
  font-size: 1.875rem;
  line-height: 1.45;
}

.section__suptitle::first-letter {
  text-transform: uppercase;
}

.section__title {
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway-900", serif;
  font-size: 2.25rem;
  line-height: 1.2;
}

.section__title:after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  margin: 30px auto;
  background-color: #f38181;
}

.section__paragraph {
  padding: 1rem 0 2rem;
  font-family: "Raleway-400", serif;
  font-size: 1.125rem;
  line-height: 1.15;
  text-align: center;
}

/*==========section 2==========*/
.images__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem auto;
}

.image {
  flex-basis: 20rem;
  position: relative;
  display: flex;
  transition: all 0.7s ease-in-out;
  flex: 1;
}

.image:not(:last-child) {
  margin-right: 1.2rem;
}

.item__img {
  display: flex;
  background: #95e1d3;
}

.hoved__img {
  cursor: pointer;
  position: absolute;
  top: -1rem;
  left: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #edd789e6 0%, #e98283e6 90%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.hoved__img > p {
  font-family: "Raleway-500", serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
}

.hoved__img > img {
  max-width: 45px;
  padding-bottom: 1rem;
}

.image:hover .hoved__img {
  opacity: 1;
}

.about .image:hover .item__img img {
  opacity: 0;
}

/*==========section 3 futures==========*/
.section__futures {
  background-color: #95e1d3;
  color: #fff;
}
.hidden-heading {
  font-size: 0;
}

.futures__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.futures__box {
  flex: 1;
  padding: 4% 0;
  border-left: 1px solid #fff;
  text-align: center;
}

.futures__box:last-child {
  border-right: 1px solid #fff;
}

.futures__num {
  font-family: "Raleway-700", serif;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.15;
  padding-bottom: 1rem;
}

.futures__text {
  font-family: "Raleway-700", serif;
  font-size: 1.5rem;
  line-height: 1.15;
}

/*==========section 4==========*/
.service__box__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.service__box {
  flex: 1;
  margin: 3rem auto;
  flex-basis: 30%;
  display: flex;
}
.box__img img {
  min-width: 4rem;
}

.box__heading {
  padding: 0 0 1rem 1rem;
  font-family: "Raleway-700", serif;
  font-size: 1.5rem;
  line-height: 1.15;
  text-transform: uppercase;
  text-align-last: left;
}

.box__text {
  padding: 10px 0 1rem 1rem;
  font-family: "Raleway-400", serif;
  font-size: 1.125rem;
  line-height: 1.15;
  text-align: left;
}

/*==========section 5 design==========*/
.design {
  background-image: linear-gradient(#ffffffcc, #ffffffcc),
    url(../img/jpg/devices/devices-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1rem;
}

.design__devises {
  position: relative;
  display: flex;
  justify-content: center;
}

.design__devise {
  background-image: url(../img/jpg/devices/tablet-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
}

.design__phone {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}

.design__phone img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(100%, -10%);
  height: 80%;
}

@media (max-width: 768px) {
  .design__phone img {
    top: 50%;
    left: 50%;
    transform: translate(0%, -10%);
  }
}

/*==========section 6 accord==========*/
.accord__wrap {
  display: flex;
}

.accord__img {
  display: flex;
  flex: 1;
  object-fit: cover;
}

.accord__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.accord__text__box {
  display: flex;
  flex-direction: column;
  border: 1px solid #c6cbcd;
}

.accord__text__box:not(:first-child) {
  margin-top: 1rem;
}

.text__box__heading {
  max-height: 6rem;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
  cursor: pointer;
}

.text__box__heading img {
  padding: 1rem;
}

.text__box__heading h3 {
  padding: 1rem;
  font-family: "Raleway-700";
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #2d3033;
}

.text__box__heading::after {
  content: url("../img/svg/arrow.svg");
  display: block;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%) rotate(90deg);
}

.text__box__heading:hover::after {
  filter: invert(56%) sepia(0%) saturate(5189%) hue-rotate(79deg)
    brightness(106%) contrast(100%);
}

.accord__text__box--active .text__box__heading::after {
  transform: translateY(-50%) rotate(-90deg);
}

.text__box__paragraph {
  max-height: 10rem;
  display: none;
  flex: 1;
  overflow-y: scroll;
  border-top: 1px solid #c6cbcd;
}

.text__box__paragraph p {
  padding: 1rem;
  font-family: "Raleway-400";
  font-size: 1.125rem;
  line-height: 1.5;
  color: #2d3033;
}

.accord__text__box--active .text__box__paragraph {
  display: initial;
}

/*==========section 7 review==========*/

.section__gray {
  background: #f8f8f8;
}

.review__content {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review__btn {
  cursor: pointer;
  background: transparent;
  border: none;
}

.review__btn:hover {
  filter: invert(56%) sepia(0%) saturate(5189%) hue-rotate(79deg)
    brightness(106%) contrast(100%);
}

.review__btn:first-child {
  margin-right: 2rem;
}

.review__btn:last-child {
  margin-left: 2rem;
  transform: rotate(180deg);
}

.review__img {
  flex: 1;
  min-width: 3rem;
  max-width: 10rem;
}

.review__text {
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.review__text p {
  position: relative;
  text-align: left;
  text-transform: capitalize;
  font-family: "Raleway-500", serif;
  font-size: 1.5rem;
  line-height: 1.15;
  color: #a9afb1;
}

.review__text h3 {
  position: relative;
  padding: 1rem 10rem;
  text-align: left;
  font-family: "KaushanScript-400", cursive;
  font-size: 1.875rem;
  line-height: 1.45;
}

.review__text h3::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 10%;
  height: 3px;
  background: #f38281;
}

/*==========section 8==========*/
.team__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.team__name {
  padding: 1rem 0;
  text-transform: uppercase;
  font-family: "Raleway-700", serif;
  font-size: 1.5rem;
  line-height: 1.15;
}
.team__position {
  text-transform: uppercase;
  font-family: "Raleway-400", serif;
  font-size: 1.5rem;
  line-height: 1.15;
}

.social {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.social__box {
  margin-left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: #f9efcf;
}

.social__box a {
  text-align: center;
  min-width: 2rem;
  box-sizing: content-box;
  max-width: 42px;
  max-height: 42px;
  padding: 6px 8px;
}
.social__box img {
  max-height: 2rem;
  object-fit: cover;
  filter: invert(54%) sepia(4%) saturate(7020%) hue-rotate(314deg)
    brightness(122%) contrast(91%);
}

.social__box:hover img {
  filter: none;
}

.social__box:hover {
  background: #f38281;
}

/*==========section 9==========*/
.partners__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners__logo {
  flex-basis: 15%;
}

/*==========section 10==========*/
.work__images {
  max-width: 1510px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.vertical__images .image {
  margin: 0;
}

.vertical__images .hoved__img {
  top: 0;
  left: 0;
}

.vertical__images .hoved__img img {
  margin-bottom: 4rem;
}

.vertical__images .hoved__img span {
  padding-top: 1rem;
  color: #fff;
  font-family: "Raleway-400";
  font-size: 1.125rem;
  line-height: 1.3;
}

/*==========section 11==========*/
.circle__img {
  border-radius: 50%;
}

/*==========section 12==========*/
.clients {
  background-image: linear-gradient(#ffffffcc, #ffffffcc),
    url(../img/jpg/clients/clients-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clients__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client__box {
  padding: 1rem 0 2rem;
  flex-basis: 50%;
  display: flex;
  align-content: space-between;
}

.client__box :nth-child(odd) {
  margin-right: 2rem;
}

.clients__heading {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  color: #2d3033;
}

.clients__name {
  font-family: "Raleway-700";
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.15;
  text-transform: uppercase;
}

.clients__position {
  margin: 1rem 0 4rem;
  position: relative;
  font-family: "Raleway-400";
  font-size: 1.125rem;
  line-height: 1.15;
  text-transform: uppercase;
}

.clients__position::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  display: block;
  width: 15%;
  height: 3px;
  margin: 30px auto;
  background-color: #f38181;
}

.clients__text {
  margin-top: auto;
  position: relative;
  font-family: "Raleway-400";
  font-size: 1.125rem;
  line-height: 1.15;
  color: #2d3033;
}

/*==========section 13==========*/

.images__wrap__box {
  display: flex;
  flex-direction: column;
  flex-basis: 32%;
}

.sup__box {
  padding: 1rem 2rem;
  position: absolute;
  left: -1rem;
  bottom: 10%;
  background-color: #95e1d3;

  font-family: "Raleway-500";
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 0.83;
  text-transform: uppercase;
  color: #ffffff;
}

.sup__box span {
  font-weight: normal;
  font-size: 1.125rem;
}

.blog__img__text h3 {
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-family: "Raleway-700", serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75;
  text-transform: uppercase;
  color: #2d3033;
}

.blog__img__text p {
  font-family: "Raleway-400", serif;
  font-size: 1.125rem;
  line-height: 1.5;
  align-items: center;
  color: #2d3033;
}

.blog__img__stat {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.blog__img__stat > * {
  padding: 0 1rem;
  font-family: "Raleway-400", serif;
  font-size: 0.8rem;
  line-height: 1.5;
  align-items: center;
  color: #2d3033;
}

/*==========section 13==========*/
.map {
  padding: 0;
  background-image: linear-gradient(#ffffffcc, #ffffffcc),
    url(../img/jpg/map/map-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.map .section__content {
  margin: 0;
  padding: 0;
}

.map .section__heading {
  color: #f38281;
}

.map img {
  width: 42px;
  height: 42px;
}

/*==========footer==========*/

.footer {
  background: #f8f8f8;
}

.footer__content {
  display: flex;
  gap: 2rem;
  font-family: "Raleway-700", serif;
  color: #2d3033;
}

.footer__box {
  margin: 2.5rem 0;
  flex: 4;
  font-size: 1.125rem;
  line-height: 1.125;
}

.footer__box__heading {
  text-transform: uppercase;
  padding: 1.5rem 0;
}

.logo-box__text {
  padding-bottom: 1rem;
}

.logo-box__text--gray {
  font-family: "Raleway-400", serif;
  color: #c6cbcd;
  padding-bottom: 1rem;
}

.logo-box__text--black {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.67;
  text-transform: uppercase;
  border-bottom: 1px solid #c6cbcd;
}

.box__text--black span {
  font-size: 1.125rem;
  font-family: "Raleway-400", serif;
  font-style: italic;
}

.footer__social {
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway-400", serif;
  font-style: italic;
  font-size: 0.82rem;
  line-height: 1.1;
  color: #c6cbcd;
}

.form__content {
  display: flex;
  padding-top: 1.5rem;
}

.footer label {
  flex: 2;
}

.footer input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #c6cbcd;
  color: #c6cbcd;
  text-align: center;
}

.footer input::placeholder {
  color: #c6cbcd;
}

.form-btn {
  flex: 1;
  padding: 1rem;
  border: none;
  color: #fff;
  cursor: pointer;
  background: #95e1d3;
  text-transform: uppercase;
}

.blog__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog__box {
  display: flex;
}

.blog__box__img {
  flex-basis: 100%;
}

.blog__box__text {
  padding-left: 2rem;
  text-transform: uppercase;
}

.blog__box__text span {
  display: block;
  padding-top: 1rem;
  font-family: "Raleway-400", serif;
  font-size: 0.75rem;
  line-height: 1.1;
  text-transform: lowercase;
}

.footer__insta {
  flex: 3;
}

.instagram__img {
  display: flex;
  flex-wrap: wrap;
}

.instagram__img img {
  display: block;
  flex: 30%;
}

.instagram__box a {
  display: block;
  padding: 1rem 0;
  text-transform: uppercase;
  font-family: "Raleway-400", serif;
  font-size: 0.75rem;
  line-height: 1.1;
  text-decoration: underline;
  color: #2d3033;
}

.footer__coptright {
  padding: 1rem;
  font-family: "Raleway-700", serif;
  font-style: bold;
  font-size: 0.813rem;
  text-align: center;
  border-top: 1px solid #c6cbcd;
}
